In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("data/3.Alexkstern.csv")
data1.head()

   Unnamed: 0                                               text  label
0           0           portada-online.com/article.aspx?aid=5345      0
1           1            votesmart.org/candidate/biography/39391      0
2           2  whitecapsblog.com/2011/06/whitecaps-fan-spat-a...      0
3           3  archive.org/stream/cu31924027818271/cu31924027...      0
4           4  rootsweb.ancestry.com/~mahampde/towns/holyoke/...      0

In [3]:
data1 = data1.drop(columns = ["Unnamed: 0"])
#data1.columns = ["index1", "url", "label1"]
data1.head()

                                                text  label
0           portada-online.com/article.aspx?aid=5345      0
1            votesmart.org/candidate/biography/39391      0
2  whitecapsblog.com/2011/06/whitecaps-fan-spat-a...      0
3  archive.org/stream/cu31924027818271/cu31924027...      0
4  rootsweb.ancestry.com/~mahampde/towns/holyoke/...      0

In [4]:
data1.columns = ["url", "label"]
#data1.head()

In [5]:
data0 = pd.read_csv("Phishing_URL_0.csv")
data0.head()

   Unnamed: 0                                                url  label
0           0                                    69.162.100.198/    1.0
1           1                                babicz123.ddns.net/    1.0
2           2                             highpowerresources.com    1.0
3           3   intent.nofrillspace.com/users/web11_focus/380...    1.0
4           4   intent.nofrillspace.com/users/web11_focus/430...    1.0

In [6]:
data0 = data0.drop(columns = ["Unnamed: 0"])
#data0.columns = ["index0", "url", "label0"]
data0.head()

                                                 url  label
0                                    69.162.100.198/    1.0
1                                babicz123.ddns.net/    1.0
2                             highpowerresources.com    1.0
3   intent.nofrillspace.com/users/web11_focus/380...    1.0
4   intent.nofrillspace.com/users/web11_focus/430...    1.0

In [7]:
merge01 = pd.merge(left = data0, right = data1, on= "url", how="outer")
merge01.head()

                                                 url  label_x  label_y
0  \t¯7Lø.á>V>4z¢¶Mù2<¯LOâ¿31È/µ$*)Då©WÄcg...      NaN      0.0
1                                 @
ÒÊ
\t¹Ë¨öí
      NaN      0.0
2                                   H
ÖË
]t¹[ÈöýE      NaN      0.0
3                  Yìê
koãÕ»Î§DéÎl½ñ¡ââqtò¸/à; Í      NaN      0.0
4  ^oð]Â|¬|hõElòdy^Å~f
b_jH0TRËR¯ÆÏa...      NaN      0.0

In [28]:
#Dropping these not able to read encodings
merge01 = merge01.reset_index()

(909668, 4)

   index                                                url  label_x  label_y
0      0  \t¯7Lø.á>V>4z¢¶Mù2<¯LOâ¿31È/µ$*)Då©WÄcg...      NaN      0.0
1      1                                 @
ÒÊ
\t¹Ë¨öí
      NaN      0.0
2      2                                   H
ÖË
]t¹[ÈöýE      NaN      0.0
3      3                  Yìê
koãÕ»Î§DéÎl½ñ¡ââqtò¸/à; Í      NaN      0.0
4      4  ^oð]Â|¬|hõElòdy^Å~f
b_jH0TRËR¯ÆÏa...      NaN      0.0

In [32]:
#print(sum(merge01.index == 10))
print(merge01.shape)
merge01 = merge01.drop([x for x in range(0,10)])
#print(sum(merge01.index == 10))
print(merge01.shape)
merge01.head()

(909668, 4)
(909658, 4)

    index                                                url  label_x  label_y
10     10                                    69.162.100.198/      1.0      1.0
11     11                                babicz123.ddns.net/      1.0      1.0
12     12                             highpowerresources.com      1.0      1.0
13     13   intent.nofrillspace.com/users/web11_focus/380...      1.0      1.0
14     14   intent.nofrillspace.com/users/web11_focus/430...      1.0      1.0

In [33]:
merge01 = merge01.drop([x for x in range(909621,909668)])

In [37]:
merge01.reset_index(drop=True, inplace = True)
merge01.head()

,level_0,index,url,label_x,label_y
0,10,10,69.162.100.198/,1.0,1.0
1,11,11,babicz123.ddns.net/,1.0,1.0
2,12,12,highpowerresources.com,1.0,1.0
3,13,13,intent.nofrillspace.com/users/web11_focus/380...,1.0,1.0
4,14,14,intent.nofrillspace.com/users/web11_focus/430...,1.0,1.0

In [38]:
merge01 = merge01.drop(["level_0", "index"], axis =1)
merge01.shape

(909611, 3)

In [39]:
merge01 = merge01.drop_duplicates("url")

In [40]:
merge01.shape

(909611, 3)

In [41]:
labelled_url1 = merge01[ merge01["label_x"] == merge01["label_y"] ]
labelled_url2 = merge01[ (merge01["label_x"].isna()) | (merge01["label_y"].isna())  ]
labelled_url = pd.merge(labelled_url1, labelled_url2, how = "outer")
labelled_url.head()

                                                 url  label_x  label_y
0                                    69.162.100.198/      1.0      1.0
1                                babicz123.ddns.net/      1.0      1.0
2                             highpowerresources.com      1.0      1.0
3   intent.nofrillspace.com/users/web11_focus/380...      1.0      1.0
4   intent.nofrillspace.com/users/web11_focus/430...      1.0      1.0

In [42]:
labelled_url.shape

(909603, 3)

In [43]:
def labelling(row):
    if (row.label_x == 1) | (row.label_x == 0):
        return row.label_x
    else:
        return row.label_y
    
def labelling1(row):
    return row["label_A"]


labelled_url["label"] = labelled_url.apply(labelling, axis =1)

In [45]:
labelled_url.head()

                                                 url  label_x  label_y  label
0                                    69.162.100.198/      1.0      1.0    1.0
1                                babicz123.ddns.net/      1.0      1.0    1.0
2                             highpowerresources.com      1.0      1.0    1.0
3   intent.nofrillspace.com/users/web11_focus/380...      1.0      1.0    1.0
4   intent.nofrillspace.com/users/web11_focus/430...      1.0      1.0    1.0

In [51]:
labelled_url.drop(["label_x", "label_y"], axis = 1, inplace=True)
labelled_url.head()

                                                 url  label
0                                    69.162.100.198/    1.0
1                                babicz123.ddns.net/    1.0
2                             highpowerresources.com    1.0
3   intent.nofrillspace.com/users/web11_focus/380...    1.0
4   intent.nofrillspace.com/users/web11_focus/430...    1.0

In [ ]:
labelled